body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*black background topnav*/
.topnav {
  overflow: hidden;
  background-color: #2E8B57;
}

/*top nav color*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*hover color*/
.topnav a:hover {
  background-color: #000000;
  color: white;
}

/*active colors*/
.topnav a.active {
  background-color: #006400;
  color: white;
}

#header {
  
/*  width:990px;
  height:90px;
  background-color:#614126;
  margin:0;
  padding:5px;*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color:#b3fbdc;
}
